* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  height: 100%;
}

body {
  background-color: #FCC5AD;
  color: #003A51;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  line-height: 1.45;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.o-container {
  margin: auto;
  max-width: 36em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-block {
  position: relative;
  padding: 2em;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
  line-height: 1;
  color: #003A51;
  font-weight: bold;
}

h2 {
  font-size: 2.827em;
  font-weight: bold;
}

h3 {
  font-size: 1.999em;
  font-weight: 400;
}

h4 {
  font-size: 1.414em;
  font-weight: 400;
}
